{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{person.Index}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Height_Inches">Height Inches</label>
            <input id="Height_Inches" type="text" class="form-control" placeholder="Height Inches" name="Height Inches" value="{{person.Height_Inches}}">
        </div>
        <div class="col">
            <label for="Weight_Pounds">Weight Pounds</label>
            <input id="Weight_Pounds" type="text" class="form-control" placeholder="Weight Pounds"
                   name="Weight Pounds" value="{{person.Weight_Pounds}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}